.bienvenue {
  display: flex;
  justify-content: center;
}

.button {

  background-color: #2d507e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.btn {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  margin-bottom: 52px;
}